upstream vminsert {
    {% for select_insert in select_inserts %}
    server={{ select_insert }}:8400; 
    {% endfor %}
}

upstream vmselect {
    {% for select_insert in select_inserts %}
    server={{ select_insert }}:8481; 
    {% endfor %}
}

server {
    listen {{ host_ip.stdout }}:8480;
    location / {
        proxy_pass http://vminsert;
    }
}

server {
    listen {{ host_ip.stdout }}:8481;
    location / {
        proxy_pass http://vmselect;
    }
}
